<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}} ">
</head>
<body>
    {{mochigoma_w| safe}}
    {{syogiban | safe}}
    {{mochigoma_b| safe}}
    <div id="clicked" style="border: 1px solid black; width: 500px; height: 100px;"></div>
​
    <script>
    function SendIdAsPosition(tdId) {
        var clicked_masu = tdId;
        $.ajax("/call_from_ajax", {
            type: "post",
            data: {"masu": clicked_masu},              // 連想配列をPOSTする
        }).done(function(received_data) {           // 戻ってきたのはJSON（文字列）
            var dict = JSON.parse(received_data);
            var banmen = dict["banmen"];
            var mochigoma_w = dict["mochigoma_w"];
            var mochigoma_b = dict["mochigoma_b"];

            if (dict["banmen"] !== "" ) {
                $("#banmen").html(banmen);
                $("#mochigoma_w").html(mochigoma_w);
                $("#mochigoma_b").html(mochigoma_b);

                $.ajax("/gikou", {
                    type:"post"
                }).done(function(recieved_html){
                    var dict_gikou = JSON.parse(recieved_html);
                    var banmen = dict_gikou["banmen"];
                    var mochigoma_w = dict_gikou["mochigoma_w"];
                    var mochigoma_b = dict_gikou["mochigoma_b"];
                    console.log("gikoureturn")
                    $("#banmen").html(banmen);
                    $("#mochigoma_w").html(mochigoma_w);
                    $("#mochigoma_b").html(mochigoma_b);
                }).fail(function() {
                    console.log("失敗");
                });
            }
            
        }).fail(function() {
            console.log("失敗");
        });


    }
    </script>
</body>
</html>
